#content
  .main-container
    .photo-container.pull-left
      = image_tag(@photo.photo_upload.url, class: 'resp-img')
    .photo-sidebar.pull-right
      .profile-info-wrapper
        .profile-info
          .profile-photo.pull-left
            = image_tag('default-user.png', class: 'user-photo')
          .profile-full-name
            = current_user.profile.full_name

      .new-critique
        - if @been_reviewed  
          = render 'photos/critiques/form'
        - else 
          .new-critique-details
            %h4
              %i.fa.fa-eye.fa-1x 
                First Impressions
            %p
              = @photo.critiques.last.first_impressions

          .new-critique-details
            %h4
              %i.fa.fa-file-image-o.fa-1x 
                Composition
            %p
              = @photo.critiques.last.composition

          .new-critique-details
            %h4
              %i.fa.fa-bolt.fa-1x 
                Lighting
            %p
              = @photo.critiques.last.lighting

         



  