%h2 upload a new photo #{current_user.profile.first_name}!

= simple_form_for [@profile,@photo] do |f|
  = f.input :title
  = f.input :status
  = f.input :photo_upload
  = f.input :description
  = f.button :submit
