!!!
%html
  %head
    %title PhotoPx
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900", :rel => "stylesheet", :type => "text/css"}

  .navigation_wrapper
    .container.navigation.clearfix
      .wrapper
        %h3.brand-logo
          600px
        %ul.navigation-item
          %li
            = link_to root_path do  
              %i.fa.fa-home.fa-1x  
              Home     
          %li
            = link_to root_path do
              %i.fa.fa-picture-o.fa-1x.span 
              Discover
          %li
            = link_to root_path do
              %i.fa.fa-comments.fa-1x 
              Groups
          %li.dropdown.pull-right
            - if current_user.profile.present?
              %button#dropdownMenu1.btn.btn-default.dropdown-toggle.user-name{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                = current_user.profile.first_name 
                = current_user.profile.last_name
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                %li
                  = link_to 'view profile', profile_path(current_user)
              = link_to new_profile_photo_path(current_user.profile) do 
                %i.fa.fa-upload.fa-1x  
                Upload
              =# link_to 'upload', new_profile_photo_path(current_user.profile)
              
            


  %body
    = yield